[user]
	name = Andrew Ford
	email = andrew@andrewford.co.nz
[core]
	editor = code --wait
	excludesfile = /Users/andrewford/.gitignore_global
[commit]
	template = /Users/andrewford/.stCommitMsg
[lfs]
	helper = 
[init]
	defaultBranch = main
[pull]
	rebase = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
