# This is Git's per-user configuration file.
[user]
	name = Andrew Ford
	email = andrew@andrewford.co.nz
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[pull]
	rebase = true